body {
  background-color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding: 0%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

span {
  color: #789DBC;
}

h2 {
  color: #789DBC;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.profile-pict {
  width: 300px; 
  height: 300px; 
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
}
.custom-div {
  border: 2px solid #789DBC; 
  color: #789DBC;
  padding: 0.5rem 1rem; 
  background-color: white; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  border-radius: 0.375rem;
  text-align: center; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Certificates Section */
.certificates-container {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.certificates-title {
  color: #789DBC;
  text-align: center;
}

.certificates-list {
  max-width: 900px;
  margin: 0 auto;
}

.certificate-item {
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.certificate-item:hover {
  transform: translateY(-8px);
}

.certificate-image {
  width: 100%; 
  max-width: 150px; 
  height: auto;
}

.certificate-description {
  font-size: 1.25rem;
  color: #555;
  margin-left: 20px;
  flex-grow: 1; 
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
  align-items: center; 
  justify-content: center;
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%; 
  max-width: 1000px; 
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: #789DBC;
}

.custom-div:hover {
  background-color: #789DBC; 
  color: white; 
}

.project-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.custom-button {
  background-color: #789DBC;
  color: white; 
  padding: 10px 15px;
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.custom-button:hover {
  background-color: #789DBC; 
}

.title-project {
  color: #789DBC; 
}
.skill-title {
  color: #789DBC;
}
.skill-logo {
  margin: 0 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #789DBC;
  color: white;
  margin-top: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column; 
      height: auto; 
  }

  .nav-text {
      font-size: 1.2rem; 
      margin: 5px 0; 
  }

  .custom-button {
      width: 100%;
  }
}